{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head> 
        <title>Marshall Science Fair Evaluator</title>
        <link rel = "stylesheet" href = "{% static 'evaluator/styles.css'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class = "nav"> 
            <a href = "{% url 'home'%}">Home</a>
            <a href = "{% url 'logout'%}"id  = "right">Logout</a>
        </div>

            <h1 class = "hh1">Event Schedule</h1>
            <p class = "hp">{{schedule.event1.time_from}}-{{schedule.event1.time_to}}: {{schedule.event1.project.a_id}}</p>
            <p class = "hp">{{schedule.event2.time_from}}-{{schedule.event2.time_to}}: {{schedule.event2.project.a_id}}</p>
            <p class = "hp">{{schedule.event3.time_from}}-{{schedule.event3.time_to}}: {{schedule.event3.project.a_id}}</p>
            <p class = "hp">{{schedule.event4.time_from}}-{{schedule.event4.time_to}}: {{schedule.event4.project.a_id}}</p>
            <p class = "hp">{{schedule.event5.time_from}}-{{schedule.event5.time_to}}: {{schedule.event5.project.a_id}}</p>
            <!-- (commented out for demonstration)
            <p class = "hp">{{schedule.event6.time_from}}-{{schedule.event6.time_to}}: {{schedule.event6.project.a_id}}</p>
            <p class = "hp">{{schedule.event7.time_from}}-{{schedule.event7.time_to}}: {{schedule.event7.project.a_id}}</p>
            <p class = "hp">{{schedule.event8.time_from}}-{{schedule.event8.time_to}}: {{schedule.event8.project.a_id}}</p>
            <p class = "hp">{{schedule.event9.time_from}}-{{schedule.event9.time_to}}: {{schedule.event9.project.a_id}}</p>
            -->
            <a class = "hA" href = "{% url 'search' %}">Click here to search for/grade projects</a>
            <a class = "hA" href = "{% url 'scores' %}">Click here to view project results</a>

   
     
    </body> 
</html>